<section>
  <fieldset class="scrollable">
    {{#with filters}}
    {{formGroup product.field value=product.value options=product.options}}
    {{formGroup soundset.field value=soundset.vlaue options=soundset.options}}
    {{formGroup subcategory.field value=subcategory.value options=subcategory.options}}
    {{formGroup status.field value=status.value options=status.options type="checkboxes"}}
    {{formGroup subtype.field value=subtype.value options=subtype.options classes="subtype" type="checkboxes"}}
    {{/with}}
  <div class="flexrow filter-controls">
    <button type="button" data-action="resetFilter">
      <i class="fa-solid fa-filter-slash"></i>
      {{localize "SYRINSCAPE.FILTERS.ACTIONS.clear"}}
    </button>
    <button type="button" data-action="bulkDataRefresh">
      <i class="fa-solid fa-arrows-rotate"></i>
      {{localize "SYRINSCAPE.BROWSER.REFRESHDATA.label"}}
    </button>
  </div>
  </fieldset>
</section>
