{{! <!--  eslint-disable @html-eslint/require-li-container --> }}
<li class="entry" data-id="{{id}}" data-name="{{name}}">
  <a draggable="" class="playlist-create-false draggable">
    <i class="icon fa-solid fa-grip-lines"></i>
  </a>
  <input type="checkbox" class="playlist-create" value="{{id}}-{{name}}" name="playlistSounds">
  <h4 class="title">
    <span class="name">{{name}}</span>
    <span class="soundset">{{soundset}}</span>
  </h4>
  <div class="controls">
    <a data-action="burger">
      <i class="fa-solid fa-ellipsis-vertical"></i>
    </a>
    <button type="button" data-action="toggle" class="icon fa-fw fa-solid {{ifThen playing 'fa-stop' 'fa-volume-high'}}" id="syrinscape-element-{{numericId}}"></button>
  </div>
</li>
