<section>
  {{#if (eq results.length 0)}}
  <p>{{localize "SYRINSCAPE.BROWSER.HINTS.results.none"}}</p>
  {{else}}
  <div class="flexrow process-results">
    <button type="button" data-action="stopSounds">
      <i class="fa-solid fa-fw fa-stop"></i>
      {{localize "SYRINSCAPE.BROWSER.StopAll"}}
    </button>
    <button type="button" class="playlist-create-false" data-action="createPlaylist">
      <i class="fa-solid fa-fw fa-music"></i>
      {{localize "DOCUMENT.Create" type=(localize "DOCUMENT.Playlist")}}
    </button>
    <button type="button" class="playlist-create" data-action="cancelPlaylist">
      <i class="fa-solid fa-fw fa-xmark"></i>
      {{localize "Cancel" }}
    </button>
    <button type="button" class="playlist-create" data-action="confirmPlaylist">
      <i class="fa-solid fa-fw fa-check"></i>
      {{localize "Confirm"}}
    </button>
  </div>
  <section class="results scrollable">
    <ul class="entries">
      {{#each results}}
      {{> "modules/syrinscape-control/templates/browser/result.hbs"}}
      {{/each}}
    </ul>
  </section>
  {{/if}}
</section>
